################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IGI2 Patch/Debug
/IGI2 Patch/Release
/Release
/.vs/IGI2 Patch/v16
/Debug
